{# templates/news/form.html.twig #}

{% extends 'base.html.twig' %}

{% block title %}{{ news.id ? 'Éditer' : 'Ajouter' }} une actualité{% endblock %}

{% block main %}
    <h1>{{ news.id ? 'Éditer' : 'Ajouter' }} une actualité</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-success">{{ news.id ? 'Mettre à jour' : 'Créer' }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_news_index') }}" class="btn btn-secondary">Retour à la liste</a>
{% endblock %}
